runpod
requests
boto3
edge-tts
opencv-python-headless

scikit-image==0.21.0
kornia==0.7.0

facexlib
yacs
einops
tqdm
scipy
pydub

gfpgan==1.3.8
basicsr==1.4.2
realesrgan==0.3.0

librosa==0.10.1
soundfile
numba
imageio==2.34.0
imageio-ffmpeg==0.4.9
tifffile==2023.7.10
